{% extends 'base.html.twig' %}
{% block title %}Hackat'Agence | L'Agence{% endblock %}
{% block body %}
<div class="hackatagence"style="background-color:#F1F1F1;">
    <div class="hautPage" style="background-image: url('/images/imgExempleHackathon.jpg');">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-7">
                    <div style="margin-top:150px;"></div>
                    <h1 class="titre">L'Agence Hackat'Agence</h1>
                    <h3 style="text-align:center;color:white;text-shadow: 1px 1px 3px black;">L'agence organisatrice d'hackathons</h3>
                </div>
                <div class="col-sm-5 sidenav">
                    <div style="margin-top:50px;"></div>
                    <img style="border:solid white 3px;border-radius : 50px;" src="{{asset('images/hackathon.png')}}" width="75%" height="400">
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:black;font-size:1px;">f</div>
    <div class="espace"></div>

    <div style="background-color:#F1F1F1">
        <h3 class="soustitre">Qu'est-ce-qu'un Hackathon ?</h3>
        <div class="espace"></div>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-5">
                    <p class="paragraphe">
                        L'hackathon est un processus créatif utilisé dans le domaine de l'innovation numérique. Durant
                        généralement un week-end, des développeurs volontaires se réunissent pour faire de la
                        programmation informatique en mode collaboratif sur un thème défini. L’engouement pour ce type
                        de manifestation témoigne d’une volonté de développer toujours davantage le numérique au service
                        de la société.
                    </p>
                </div>
                <div class="col-sm-6 sidenav">
                    <img style="border:solid black 3px;border-radius : 300px;" src="{{asset('images/hackatagence.jpg')}}" width="100%" height="500">
                </div>
            </div>
        </div>
    </div>

    <div class="espace"></div>
    <div style="background-color:black;font-size:1px;">f</div>
    <div style="background-color:#222222;">
        <br/><br/><br/><h3 class="soustitre2">Déroulement d'un Hackathon</h3>
        <div class="espace"></div>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-6 sidenav">
                    <img style="border:solid white 3px;border-radius : 50px;margin-left:100px;" src="{{asset('images/orgaHackathon.jpg')}}" width="80%" height="500">
                </div>
                <div class="col-sm-5">
                    <p class="paragraphe2">
                        Même s’ils peuvent porter sur des thèmes variés, les hackathons se déroulent toujours selon un même schéma :<br/>
                        • L’accueil des participants et la présentation constituent la première phase du hackathon ;<br/>
                        • Les équipes travaillent ensuite sur le développement de leur projet : remue-méninges,
                        maquettage, prototypage, etc. Lors de ces phases de travail, les équipes sont
                        accompagnées par des mentors (coachs) de différents domaines (développement,graphisme, communication, etc.) ;<br/>
                        • À l’issue de ce travail intensif, chaque équipe présente son prototype au jury ;<br/>
                        • Enfin, la délibération du jury puis la proclamation des résultats et la remise des récompenses constituent la dernière phase du hackathon
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.soustitre{
    text-align:center;
}
.soustitre2{
    text-align:center;
    color:white;
}
.hautPage{
    background-image: url("images/fondHackathon.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:500px;
}
.espace{
    margin-top:70px;
}
.titre{
    text-align:center;
    font-weight:bold;
    color:white;
    text-decoration:underline;
    font-size:50px;
    text-shadow: 1px 1px 2px black;
}
.paragraphe{
    text-align:justify;
    margin-left:50px;
    margin-right:50px;
    font-size:25px;
}
.paragraphe2{
    text-align:justify;
    margin-left:50px;
    margin-right:50px;
    font-size:25px;
    color:white;
}
</style>
{% endblock %}