{% extends 'base.html.twig' %}

{% block title %}Hackat'Agence | Inscription{% endblock %}

{% block body %}
<h1>Inscription à un Hackathon</h1>
<div class="img-thumbnail" style="margin-left:500px;margin-right:500px;background-color:#EAEAEA;">
{{form_start(form)}}
{{form_row(form.hackathon)}}
{{form_row(form.texteLibre)}}
<button type="submit" class="btn btn-primary" name="add" id="add">S'inscrire</button>
{{form_end(form)}}
</div>
<style>
h1{
    text-align:center;
}
.Inscription{
    text-align:center;
    border-radius:4px;
}
</style>
{% endblock %}
