{% extends 'base.html.twig' %}

{% block title %}L'agence{% endblock %}

{% block body %}
<h1>Inscription à un Hackathon</h1>
<div class="img-thumbnail" style="margin-left:500px;margin-right:500px;">
<form class="Inscription" action="{{path('app_ValiderInscription') }}" method="post"><br/>
    <label for="hackathon">id Hackathon :</label>
    <input type="number" id="hackathon" name="hackathon"><br/><br/>
    <label for="texteLibre">texteLibre :</label>
    <input type="text" id="texteLibre" name="texteLibre"><br/><br/>
    <input type="submit" value="S'inscrire"><br/><br/>
</form>
</div>

<style>
h1{
    text-align:center;
}
.Inscription{
    text-align:center;
    background-color:#EAEAEA;
    border-radius:4px;
}
</style>
{% endblock %}
