<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hackat'Agence{% endblock %}</title>
        <link class="icon" rel="shortcut icon" href="images/hackathonLogo.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body class="body">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{path('app_home')}}">Hackat'Web</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<a href="{{path('app_agence')}}">L'Agence</a>
				</li>
				<li>
					<a href="#">Les Hackatons</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<span class="glyphicon glyphicon-user"></span>Sign Up
                    </a>
				</li>
				<li>
					<a href="#">
						<span class="glyphicon glyphicon-log-in"></span>Login
                    </a>
				</li>
			</ul>
		</div>
	</nav>

        {% block body %}{% endblock %}
    </body>
</html>