{% extends 'base.html.twig' %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h1>Créer un compte</h1>
<div class="img-thumbnail" style="margin-left:500px;margin-right:500px;">
<form class="creationCompte" method="POST" action="{{path('app_Validercreercompte')}}"><br/>
    <label for="nom">Nom</label> <input type="text" id="nom" name="nom" placeholder="Nom"><br/><br/>
    <label for="prenom">Prenom</label> <input type="text" id="prenom" name="prenom" placeholder="Prénom"><br/><br/>
    <label for="email">Email</label> <input type="email" id="email" name="email" placeholder="Email" ><br/><br/>
    <label for="dateNaissance">Date de Naissance</label> <input type="date" id="dateNaissance" name="dateNaissance" placeholder="Date de naissance"><br/><br/>
    <label for="tel">Téléphone</label> <input type="tel" id="tel" name="tel" minlength="10" maxlength="10" pattern="[0]{1}[0-9]{9}"required placeholder="Téléphone"><br/><br/>
    <label for="portfolio">Lien Portfolio</label> <input type="url" id="portfolio" name="portfolio" placeholder="Portfolio"><br/><br/>
    <label for="mdp">Mot de Passe</label> <input type="password" id="mdp" name="mdp" placeholder="Mot de Passe" required><br/><br/>
    <label for="confmdp">Confirmer Mot de Passe</label> <input type="password" id="confmdp" name="confmdp" placeholder="Confirmer mot de passe" required><br/><br/>
    <input type="submit" value="Créer"><br/><br/>
</form>
</div>

<script>
var password = document.getElementById("mdp")
  , confirm_password = document.getElementById("confmdp");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Les mot de passe ne sont pas similaire");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

<style>
h1{
    text-align:center;
}
.creationCompte{
    text-align:center;
    background-color:#EAEAEA;
    border-radius:4px;
}
</style>
{% endblock %}